<form class="form-horizontal" #ngForm="ngForm" (submit)="onSubmit(ngForm)">
  <div class="form-group col-sm-12">
    <div style="font-size: 20px">Markets</div>
    <div *ngFor="let item of _listOfAllMarket">
      <div>
        <mat-label>{{item.name}}</mat-label>
        <mat-checkbox name="{{item.name}}" (change)="onChange()" [(ngModel)]="item.isSelected" ></mat-checkbox>
      </div>
    </div>
  </div>

  <button type="submit" class="btn btn-default">Submit</button>

  <app-form-debug [form]="ngForm"></app-form-debug>
  <pre><code>{{ form | json }}</code></pre>
</form>
